<!DOCTYPE html>
<head>
    <title>blob.</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>
<body>
    <div class="header">
        <h1><i>blob.</i></h1>
        <p class="subheader"><i>fast atomic structure search for cryo-</i>em.</p>
    </div>
    <div class="card">
        <h3><i>how it works.</i></h3>
            <div class="row">
                <div class="column">
                    <p class="description">(1) you upload your blob</p>
                    <p class="subdescription">we accept .mrc files of up to 300 MB in size.</p>
                </div>
                <div class="column">
                    <p class="description">(2) we find matching structural hits </p>
                    <p class="subdescription">we compute an invariant representation for comparing volumes to atomic structures</p>
                </div>
                <div class="column">
                    <p class="description">(3) you get fitted candidate structures for your blob</p>
                    <p class="subdescription">ranked CATH domains + rendered models + db linkouts </p>  
                </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="column-2">
                {% if show_form %}
                <form enctype="multipart/form-data" method="post" action="/submit" id="file-submit-form"> 
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" id="submit-button">Upload</button>
                </form>
                {% endif %}
            </div>
            <div class="column-2" id="submit-update">
                    <p>
                        <!-- timing["q_time"], timing["tree_load_time"], timing["nn_time"], timing["cc_time] -->
                        <ul id="updates-timing"> 
                        </ul>
                        <div id="link-button">  
                        </div>
                    </p>
                    <div id="error-message">
                    </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
